{% extends "origin.html" %}
{% block origine %} {{super()}}  {% endblock %}
{% block navbar %}
   {{  super() }}
   <a href="accessori" class="a">ACCESSORI</a>
{% endblock%}
{% block content %}
<form action="app.html" method="GET">
    <button name="selezione" type="submit"> SELEZIONE </button>
</form>
<div>
  <table width="100%" border="3" align="center">
    <tr>
      <th> CHIAVE </td>
      <th> ORDINE </td>
      <th> QUANTITA' </td>
      <th> CANCE </td>
      <th> ERRORE </td>
      <th> DATA </td>
      <th> CODICE </td>
      <th> CLIENTE </td>
      <th> CATE </th>
      <th> CODCLI </th>
      <th> VORNR </th>
      <th> AUFPL </th>
      <th> DIPE </th>
      <th> TEMPO </th>
      <th> ARBID </th>
    </tr>
      {% for ordine in ListaAste %}
            <tr>
            <td> {{ ordine['chiave'] }} </td>
            <td> {{ ordine['ordine'] }} </td>
            <td> {{ ordine['qta'] }}</td>
            <td> {{ ordine['cance'] }}</td>
            <td> {{ ordine['errore'] }}</td>
            <td> {{ ordine['data'] }}</td>
            <td> {{ ordine['codice'] }}</td>
            <td> {{ ordine['cliente'] }}</td>
            <td> {{ ordine['cate'] }}</td>
            <td> {{ ordine['codcli'] }}</td>
            <td> {{ ordine['vornr'] }}</td>
            <td> {{ ordine['aufpl'] }}</td>
            <td> {{ ordine['dipe'] }}</td>
            <td> {{ ordine['tempo'] }}</td>
            <td> {{ ordine['arbid'] }}</td>
            </tr>

      {% endfor %}
  </table>
</div>
{% endblock %}
</body>
</html>