{% extends "origin.html" %}

<!doctype html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='style.css')}}">

<head>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" href="{{  url_for('static', filename='style.css')}}">
</head>
<body>

  <title>Hello from Flask</title>

    {% if name %}
      <h1>Hello {{ name }}!</h1>
    {% else %}
      <h1>Hello, World!</h1>
    {% endif %}

    {% block navbar %}
      <div class="topnav" id="myTopnav">
        <a href="avvitati" class="active">AVVITATI</a>
        <a href="generale">GENERALE</a>
        <a href="accessori">ACCESSORI</a>
        <a href="aste">ASTE</a>
        <a href="javascript:void(0);" class="icon" onclick ="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    {% endblock %}
    {% block content %}
    <div>
      <table align="center">
        <tr>
          <th> CHIAVE </td>
          <th> ORDINE </td>
          <th> QUANTITA' </td>
          <th> CANCE </td>
          <th> ERRORE </td>
          <th> DATA </td>
          <th> CODICE </td>
          <th> CLIENTE </td>
          <th> CATE </th>
          <th> CODCLI </th>
          <th> VORNR </th>
          <th> AUFPL </th>
          <th> DIPE </th>
          <th> TEMPO </th>
          <th> ARBID </th>
        </tr>
          {% for ordine in ListaAvvitati %}
            <tr>
              <td> {{ ordine['chiave'] }} </td>
              <td> {{ ordine['ordine'] }} </td>
              <td> {{ ordine['qta'] }}</td>
              <td> {{ ordine['cance'] }}</td>
              <td> {{ ordine['errore'] }}</td>
              {% if ordine['data'] < today %}
              <td class="scaduto" id="data"> {{ ordine['data'] }}</td> 
              {% else %}
              <td class="inTempo" id="data"> {{ ordine['data'] }}</td> 
              {% endif %}
              <td> {{ ordine['codice'] }}</td>
              <td> {{ ordine['cliente'] }}</td>
              <td> {{ ordine['cate'] }}</td>
              <td> {{ ordine['codcli'] }}</td>
              <td> {{ ordine['vornr'] }}</td>
              <td> {{ ordine['aufpl'] }}</td>
              <td> {{ ordine['dipe'] }}</td>
              <td> {{ ordine['tempo'] }}</td>
              <td> {{ ordine['arbid'] }}</td>
            </tr>
          {% endfor %}
      </table>
    </div>
    {% endblock %}
  </body>
</html>