<!DOCTYPE html>
<html>
{% block origine %}
<head>
    <script language='JavaScript' type='text/JavaScript' src='.\static\javascript\jv.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='style.css')}}">
</head>
{% endblock %}
{% block navbar %}
<div class="topnav" id="myTopnav">
  <a href="generale" class="active">GENERALE</a>
  <a href="accessori">ACCESSORI</a>
  <a href="avvitati">AVVITATI</a>
  <a href="aste">ASTE</a>
  <a href="javascript:void(0);" class="icon" onclick ="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
{% endblock %}
{% block content%}
{% endblock %}

</html>